@media  only screen and (max-width: 1200px){
    section{
        font-size: 30px;
        height: 5000px;
    }
    img{
        margin-left: 84px;
    }
    .block-1{
        font-size: 30px;
    }
    .block-2{
        font-size: 30px;
    }
    b{
        padding: 180px 0 20px;
    }
    nav a{
        font-size: 1.8em;
    }
}
